
<div class="container">

  <div class="container my-2">
      <div>
          <div class="flex">
            <div class="d-flex justify-content-start mt-3">
              <h4 ><%= @product.title %></h4>
            </div>
            <div class="d-flex justify-content-start ms-3">
              <%if @product.photo.attached? %>
                <%= cl_image_tag @product.photo.key, class: 'product-image', height: 200, width: 200, crop: :fill  %>
              <%else  %>
                <%=image_tag "imgnotavailable.png"  %>
              <%end %>
            </div>
            <div class="d-flex justify-content-start">
              <p class="product-details"><%= @product.details %></p>
            </div>
            <div class="d-flex justify-content-start">
              <p class="product-description"><%= @product.description %></p>
            </div>
            <div class="d-flex justify-content-start">
            <p>Category: <%= @product.category %></p>
          </div>
            <div class="d-flex">
              <div>
                <h6 class="me-2 mb-0">Quantity:</h6>
                <span><%= @product.quantity %></span>
              </div>
              <div>
                <h6 class="me-2 mb-0">Price:</h6>
                <i class="fa-solid fa-dollar-sign"></i>
                <span><%= @product.price %></span>
              </div>
              <div>
                <h6 class="me-2 mb-0">Virtual Cash:</h6>
                <i class="fa-solid fa-dollar-sign"></i>
                <span><%= @product.virtual_cash %></span>
              </div>
            </div>
          </div>
      </div>
      <div class="d-flex justify-content-between my-3">
          <div>
            <%#= link_to "Add to cart", cart_products_path(@product), class: "btn btn-danger text-white"%>
            <% if user_signed_in?%>
              <% if current_user.id != @product.user_id %>
              <form action="/cart_products" method="POST" data-turbo="false">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag :product_id, @product.id %>
                <input type="submit" value="Add to cart", class= "btn btn-danger text-white">
              </form>
              <% end  %>
            <% else %>
              <%= link_to "Sign in to Add to Cart", new_user_session_path, class: "btn btn-primary" %>
            <% end %>
          </div>
      </div>
      <div>
            <%= link_to "Return to products", products_path %>
      </div>
    <hr class="my-2">


</div>
